@import url("menu.css");
table {
	width: 100%;
	height: 100%;
	
}
form {
	margin:10px;
	margin-right: 0px;
	text-align: center;
}
a:link {
	
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
a:visited {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
A:active {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
A:hover {
	color: #BEA12C;
	font-size: 12px;
	/*
	text-decoration: underline;
	*/
}

a.user:link {
	color: #333333;
	font-size: 12px;
	text-decoration: underline;
}
a.user:visited {
	color: #333333;
	font-size: 12px;
	text-decoration: underline;
}
a.user:active {
	color: #333333;
	font-size: 12px;
	text-decoration: underline;
}
input,textarea{
	font-size: 8pt;
	color: #333333;
}

td {
	font-size: 12px;
	color: #333333;
	line-height: 18px;
}
.title {
	font-family: 돋움;
	font-size: 12pt;
	color: #000000;
	line-height: 22px;
}

/* Form css */
.text {
	font-size: 8pt;
	color: #333333;
}
.textarea {
	font-size: 8pt;
	color: #333333;
}
.password {
	font-size: 8pt;
	color: #333333;
}
.file {
	font-size: 8pt;
	color: #333333;
}
.select {
	font-size: 8pt;
	color: #333333;
}

